

.App {
  flex-grow:1;
  width:100;
  white-space: pre-wrap;
  word-break:break-all;
  
  
  
}


  @media screen and (max-width: 500px) {
    .detail-window{
    flex-direction: column!important;
  }
}