*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  height: 100%;
  display: flex;
}

body {
  flex-grow:1;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background: linear-gradient(180deg, #1c1c1c, #545353);
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-grow:1;
}
